/** {
    border: 1px solid black;
}*/

.container {
    width: 50%;
    max-width: 1000px;
    margin: auto;
}

.container h1 {
    text-align: center;
    text-transform: uppercase;
}

.text-area p {
    max-height: 50%;
    padding: 20px;
    text-align: justify;
}

.buttons {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}


button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
