/** {
    border: 1px solid black;
}*/

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.container h1 {
    text-align: center;
    text-transform: uppercase;
}

.text-area p {
    max-height: 80%;
    padding: 20px;
    text-align: justify;
}

.buttons {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}


button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}
